// Columns
// ----------------------------------------------
.block.columns {
	text-align: center;
	.col-column {
		@include media-breakpoint-down(sm) {
			margin-bottom: 2rem;					
			&:last-of-type {
				margin-bottom: 0;
			}
		}				
		&.col-md-3 {
			.column {
				padding-left: 1rem;
				padding-right: 1rem;
			}
			.text {
				h3 {
					font-size: 1.083rem;
				}	
			}		
			.image {
				img {
					height: 100px;
				}
			}			
		}
		&.image-layout-left {
			.image {
				margin-right: 1rem;
				img {
					height: auto;
				}
			}
			.text {
				text-align: left;
			}
		}
		&.image-layout-bottom {
			.column {
				display: flex;
				flex-direction: column;
				.image {
					margin-top: 2rem;
					order: 1;
				}	
			}			
		}
	}
	h2 {
		margin-bottom: 2.5rem;
	}
	.column {
		background: $white;
		height: 100%;				
		padding: 1.5rem 2rem;
		position: relative;
		@if $enable-shadows {
			box-shadow: 0 0 10px rgba( $black, 0.1 );
		}
	}
	.image {
		margin-bottom: 0.75rem;
		img {
			height: 127px;
			width: auto;
		}
	}
	.text {
		h3 {
			font-size: 1.333rem;
			font-weight: 600;
			@include media-breakpoint-down(sm) {
				br {
					display: none;
				}
			}
		}
	}
}