// Reveal
// ----------------------------------------------
.block.reveal {
	background-color: white;
	padding-top: 0 !important;
	padding-bottom: 0 !important;	
	left: 0;
	text-align: center;
	top: 0;
	width: 100vw;
	z-index: 99999;
	
	height: calc(2*100vh);
	position: relative;
	
	.sticky {
		height: 100vh;
		overflow: hidden;
		position: sticky;
		top: 0;
		.wipe-stack {
			height: 100vh;
			position: relative;
			overflow: hidden;
		}
	}
	
	.layer {
		display: flex;
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		.heading {
			//margin-bottom: 10vw;
			margin-bottom: 13vw;
			font-size: $h1-font-size;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
		.subheading,
		.superheading {
			font-size: $h2-font-size;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}
		&.bottom {
			background-color: $white;
			
			.heading,
			.superheading,
			.subheading {
				color: $black;
			}			
		}
		&.top {
			background-color: $black;
			z-index: 1;
			clip-path: circle(27vw at 50% 90%);
			
			.heading,
			.superheading,
			.subheading {
				color: $white;
				text-shadow: 0 0 0.25rem $black;
			}
			
			.video-controls {
				.text {
					color: $white;
				}
			}
		}
		> .container {
			align-items: center;
			display: flex;
			flex-direction: column;			
			justify-content: center;
			z-index: 1;
		}
		.background {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			&.video {
				video {
					height: 100%;
					object-fit: cover;
					width: 100%;										
				}				
			}
		}
	}
	
	.background-gradient {
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='345' viewBox='0 0 1440 345' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1440' height='345' fill='url(%23paint0_linear_1032_261)' fill-opacity='0.5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1032_261' x1='720' y1='0' x2='720' y2='345' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.background-overlay {
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='984' viewBox='0 0 1440 984' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1447' height='984' fill='black' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.foreground {
		align-items: flex-end;
		display: flex;
		height: 100%;
		left: 0;
		justify-content: center;
		position: absolute;
		top: 0;
		width: 100%;
		.image {
			max-width: 30vw;
		}
	}
	
	.anchor-link {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		.arrow {
			bottom: 8vw;
			color: $white;		
			cursor: pointer;	
			font-size: 5rem;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;			
			transform: translateY(0);
			transition: all 750ms ease-in-out;
			white-space: nowrap;
			&:hover {
				color: $primary;
			}
		}
		.lift {
			transform: translateY(14px);
		}
	}
	
	.video-controls {
		align-items: center;
		bottom: 2rem;
		cursor: pointer;
		display: flex;
		position: absolute;
		right: 4rem;
		z-index: 1;
		&.paused {
			i {
				&:before {
					content: '\f04b';
				}
			}
		}
		.text {
			color: $black;
			margin-right: 0.5rem;
			white-space: nowrap;
			.play {
				display: none;
			}
		}
		i {
			background: $primary;
			color: $white;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;	
			transition: $transition-base;		
			&:hover {
				background: $black;
			}
		}
	}
}
body.page-id-1113 {
	#wrapper-navbar+.wrapper {
		margin-top: 0;
	}
}
body.page-id-720 {
	#wrapper-navbar+.wrapper {
		margin-top: 0;
	}
	.bg-primary {
		background-color: transparent !important;
	}
}

body.admin-bar .block.reveal {
	top: 32px;
}