// Statistics
// ----------------------------------------------
.block.statistics {	
	text-align: center;
	.statistic {
		background-color: $white;
		height: 100%;
		padding: 2rem;
		border-left: 1px solid;
		border-right: 1px solid;
		border-bottom: 1px solid;
		border-top: 1.5rem solid;
		@include media-breakpoint-down(md) {
			height: auto;
			margin-bottom: 2rem;
		}
		@include media-breakpoint-down(lg) {
			padding: 1.25rem;
		}
	}
	.col-12:nth-of-type(1) {
		.statistic {
			border-color: $primary;	
		}		
	}
	.col-12:nth-of-type(2) {
		.statistic {
			border-color: $secondary;	
		}		
	}
	.col-12:nth-of-type(3) {
		.statistic {
			border-color: $info;	
		}		
	}
	.number {
		h4 {
			font-size: 3rem;
			font-weight: $font-weight-bold;
			@include media-breakpoint-down(lg) {
				font-size: 2.5rem;
			}
		}
	}
}