// WYSIWYG
// ----------------------------------------------
.block.wysiwyg {
	
	.columns-1 {
		columns: 1;
	}
	
	.columns-2 {		
		columns: 2;
		@include media-breakpoint-down(md) {
			columns: 1;
		}
	}
	
	.columns-3 {		
		columns: 3;
		@include media-breakpoint-down(md) {
			columns: 1;
		}
	}
	
}