//
// Blocks
// --------------------------------------------------

.blocks {
	padding-top: 0;
	padding-bottom: 0;
}
.block {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

@import "blocks/accordion";
@import "blocks/call_out_box";
@import "blocks/cards";
@import "blocks/carousel";
@import "blocks/columns";
@import "blocks/feature";
@import "blocks/filters";
@import "blocks/form";
@import "blocks/hero";
@import "blocks/large_media";
@import "blocks/reveal";
@import "blocks/statistics";
@import "blocks/testimonial";
@import "blocks/text_media";
@import "blocks/wysiwyg";