.blocks {
	padding-top: 0;
	padding-bottom: 0;
}
.block {
	padding-bottom: 3rem;
	padding-top: 3rem;
	
	// Accordion
	// ----------------------------------------------	
	&.accordion {		
		.text {
			margin-bottom: 0.75rem;
		}
		.intro {
			margin-bottom: 1.5rem;
		}
		.accordion {
			background: $primary;
			color: $white;
			cursor: pointer;
			font-weight: bold;
			margin-bottom: 0.75rem;
			i {
				margin-right: 0.5rem;				
			}
			.question {
				color: $white;
				font-family: $font-family-sans-serif;
				font-size: 1.1rem;
				display: block;
				padding: .75rem 1rem;
				text-decoration: none;
				.fa-minus {
					display: none;
				}
				&[aria-expanded="true"] {
					background: $gray-100;					
					color: $black;
					.fa-plus {
						display: none;
					}					
					.fa-minus {
						display: inline-block;
					}
				}
			}
			.answer {
				background: $gray-100;
				border-top: 2px solid $white;
				color: $black;
				font-weight: normal;
				padding: 1.5rem 2.5rem 1.5rem 2.5rem;
			}
		}			
	}
	
	// Blog
	// ----------------------------------------------	
	&.blog {
		.heading {
			margin-bottom: 1.5rem;
		}
		article {
			background: $white;
			margin-bottom: 2rem;
			padding: 1rem;
			h2 {
				font-size: 1.2rem;
				font-weight: 600;
				margin-bottom: 0.25rem;
			}
		}
		.entry-meta {
			font-style: italic;
		}
		.entry-header {
			margin-bottom: 1rem;
		}
		.featured-image {
			margin-bottom: 1rem;
		}
		.blog-wrapper {
			padding: 3rem 0;
		}
	}
	
	// Cards
	// ----------------------------------------------	
	&.cards {		
		
		position: relative;
		&:after {				
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			bottom: 0;
			content: '';
			height: 100%;				
			position: absolute;				
			width: 100%;
			z-index: -1;
		}
		
		.row-cards {
			.col-12 {
				@include media-breakpoint-down(sm) {
					margin-bottom: 2rem;
				}
				&:nth-of-type(2) {
					margin-top: 3rem;
					@include media-breakpoint-down(sm) {
						margin-top: 1rem;
					}
				}
				&:nth-of-type(3) {
					margin-top: 2rem;
					@include media-breakpoint-down(sm) {
						margin-top: 1rem;
					}
				}
				&:nth-of-type(4) {
					margin-top: 5rem;
					@include media-breakpoint-down(sm) {
						margin-top: 1rem;
					}
				}
			}	
		}				
		.card-wrapper {
			background: #f1f1f1;
			font-size: 0.542rem;
			@include media-breakpoint-down(sm) {
				font-size: 1rem;
			}		
			.image {
				background: $white;
				padding: .5rem .5rem .25rem;
				@include media-breakpoint-down(sm) {
					padding: 1rem 1rem .75rem;
				}
			}
			.entry {
				padding: .5rem .5rem .75rem;
			}
			h3 {
				color: $blue;
				font-size: 0.583rem;
				font-weight: 600;
				margin-bottom: 0.25rem;
				text-transform: uppercase;
				@include media-breakpoint-down(sm) {
					font-size: 1rem;
				}
			}			
			.btn {
				border-radius: 1.5rem;
				font-size: 0.542rem;
				text-transform: uppercase;
				@include media-breakpoint-down(sm) {
					font-size: 1rem;
				}					
			}	
			.text {
				margin-bottom: 0.5rem;
			}
			.image {
				text-align: center;
				img {
					height: 100px;
					width: auto;
				}
			}
		}
	}
	
	// Carousel
	// ----------------------------------------------	
	&.carousel {
		.carousel-inner {
			margin-bottom: 1rem;
		}
		.heading {
			font-weight: 600;
			margin-bottom: .25rem;
		}
		.carousel-item {
			.buttons {
				@include media-breakpoint-down(sm) {
					margin-bottom: 1rem;
				}
			}
		}
		.carousel-indicators {
			margin-bottom: 0;
			position: relative;
			@include media-breakpoint-down(sm) {
				margin-top: 1.5rem;
			}
		  button {
				background-color: $primary;
				border-radius: 50%;
				height: 30px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.carousel-control-prev,
		.carousel-control-next {
			width: 30px;
		}
		.carousel-control-prev {
			justify-content: flex-start;
		}
		.carousel-control-next {
			justify-content: flex-end;
		}		
		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
		}
		.carousel-control-next-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		}
	}
	
	// Columns
	// ----------------------------------------------
	&.columns {
		text-align: center;
		.col-column {
			@include media-breakpoint-down(sm) {
				margin-bottom: 2rem;					
				&:last-of-type {
					margin-bottom: 0;
				}
			}				
			&.col-md-3 {
				.column {
					padding-left: 1rem;
					padding-right: 1rem;
				}
				.text {
					h3 {
						font-size: 1.083rem;
					}	
				}		
				.image {
					img {
						height: 100px;
					}
				}			
			}
		}
		h2 {
			margin-bottom: 2.5rem;
		}
		.column {
			background: $white;
			box-shadow: 0 0 10px rgba( $black, 0.1 );
			height: 100%;				
			padding: 1.5rem 2rem;
			position: relative;
		}
		.image {
			margin-bottom: 0.75rem;
			img {
				height: 127px;
				width: auto;
			}
		}
		.text {
			h3 {
				font-size: 1.333rem;
				font-weight: 600;
				@include media-breakpoint-down(sm) {
					br {
						display: none;
					}
				}
			}
		}
	}

	// Feature
	// ----------------------------------------------
	&.feature {
		.image {
			@include media-breakpoint-down(sm) {
				margin-bottom: 2rem;		
			}
		}		
	}
	
	// Hero
	// ----------------------------------------------
	&.hero {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	//
	// Form
	// --------------------------------------------------
	&.form {
		.frm_style_formidable-style.with_frm_style {
				
			// Fields
			.form-field {
				input[type=password], 
				input[type=email], 
				input[type=number],
				input[type=url],
				input[type=tel],
				input[type=file],
				input[type=search],
				input[type=text],
				button,
				select,
				textarea {
					border: none;
					border-radius: $border-radius;
					font-family: $font-family-sans-serif;
					font-size: 1.111rem;
					font-weight: 600;
					height: 44px;			
					&::-webkit-input-placeholder {
						color: $primary;
					}
					&::-moz-placeholder {
						color: $primary;
					}
					&:-ms-input-placeholder {
						color: $primary;
					}
					&:-moz-placeholder {
						color: $primary;
					}							
				}			 							
				textarea {
					height: auto;
				}
				label {
					color: $black;
					font-family: $font-family-sans-serif;
					font-size: 0.9444rem;
					font-weight: 600;
				}
				.frm_description {
					font-family: $font-family-sans-serif;
				}
			}
			
			// Submit
			.frm_submit {
				button {
					background: $primary;
					background-position: right 1.1rem center;
					border: none;
					border-radius: $btn-border-radius;
					box-shadow: none;
					font-family: $font-family-sans-serif;
					font-size:  1.111rem;
					font-weight: 600;
					height: 44px;
					line-height: 1;
					padding: .5rem 1.5rem .5rem 1.5rem;
					transition: $btn-transition;
					width: auto;
					@include media-breakpoint-down(md) {
						width: auto;
					}
					&:hover {
						//background: $secondary url( '../img/icon-right-arrow.svg' ) no-repeat right center;
						//background-position: right 1.1rem center;
						background: $secondary;
						color: $white;
					}
				}
			}
			
			// Error message
			.frm_error {
				color: $red;
				font-family: $font-family-base;		
				font-size: 0.8rem;
				margin-top: 0.3rem;
			}
			.frm_error_style {
				border-radius: $border-radius;
				color: $red;
				font-size: 1rem;
				p {
					font-weight: $font-weight-bold;
					margin-bottom: 0;
				}			
			}			
			
			// Confirmation message
			.frm_message {
				border-radius: $border-radius;
				color: $green;
				font-size: 1rem;
				p {
					font-weight: $font-weight-bold;
					margin-bottom: 0;
				}
			}
					
		}
	}	
		
	// Text with Media
	// ----------------------------------------------
	&.text_media {
		padding: 5rem 0;
		&.right {
			.col-text {
				order: 1;
			}			
			.col-image {
				@include media-breakpoint-down(sm) {
					margin-bottom: 2rem;	
				}				
			}
			.col-text {
				margin-bottom: 0;
			}
		}		
		.col-text {
			@include media-breakpoint-down(sm) {
				margin-bottom: 2rem;
			}
		}
	}
	
	// WYSIWYG
	// ----------------------------------------------
	&.wysiwyg {
		
	}
}