//
// Blocks
// --------------------------------------------------

.blocks {
	padding-top: 0;
	padding-bottom: 0;
}
.block {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

@import "blocks/accordion";
@import "blocks/blog";
@import "blocks/cards";
@import "blocks/carousel";
@import "blocks/columns";
@import "blocks/events";
@import "blocks/feature";
@import "blocks/form";
@import "blocks/hero";
@import "blocks/statistics";
@import "blocks/team";
@import "blocks/text_media";
@import "blocks/wysiwyg";