//
// Footer
// --------------------------------------------------
#wrapper-footer {	
	background-color: $gray-900;
	position: relative;
	.menu {
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
			margin-right: 1rem;
			&:first-of-type {
				a {
					padding-left: 0;
				}
			}
			&:last-of-type {
				margin-right: 0;
			}
			a {
				color: $white;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	.newsletter {
		margin-bottom: 3rem;
	}
	.newsletter-heading {
		color: $white;
	}
	
	.legal {
		color: $white;
		font-size: 0.9rem;
		@include media-breakpoint-down(sm) {
			margin-bottom: 1rem;
		}
	}
	
	.logo {
		margin-bottom: 3rem;
		width: 50%;
	}
	
	.contact {
		color: $white;
		margin-bottom: 1rem;
		a {
			color: $white;	
		}
		.phone {
			margin-top: 1rem;
		}
	}
	
	.affiliations-partners {		
		margin-bottom: 2rem;	
		.heading {
			color: $white;
		}
		.icons {
			display: flex;
		}
		.item {
			align-items: center;
			display: flex;
			flex: 0 0 25%;
			justify-content: center;
			padding-right: 1rem;
			a {
				display: block;
			}
		}		
	}
	
	.social-media {
		a {
			font-size: 2rem;
			margin-right: 0.75rem;
			text-decoration: none;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}