#wrapper-navbar {
	
	.navbar-toggler {
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='bars' class='svg-inline--fa fa-bars fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z'%3E%3C/path%3E%3C/svg%3E");
		}
		&[aria-expanded='true'] {
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='times' class='svg-inline--fa fa-times fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'%3E%3C/path%3E%3C/svg%3E");
			}
		}
	}		
	
	.navbar-brand {
		max-width: 234px;
		@include media-breakpoint-down(sm) {
			max-width: 150px;
		}
	}
	
	#navbarNavDropdown {
		align-items: end;
	}
	
	#main-menu {
		
		.nav-item {
						
			@if $poowehi-enable-main-nav-border {
				// Add bottom border to active man nav items
				&:after {
					border-bottom: 2px solid transparent;
					content: '';
					display: block;
					margin-left: $nav-link-padding-x;
					margin-right: $nav-link-padding-x;				
					margin-top: -0.5rem;
					margin-bottom: 0.25rem;
					@include media-breakpoint-down(lg) {
						margin-left: 0;
						margin-right: 0;
					}
				}
				&:hover,
				&:active,
				&.current_page_item,
				&.current_page_ancestor {
					&:after {
						border-color: $black;
					}
				}				
				
				&.search,
				.dropdown-menu .nav-item {
					&:after {
						border-bottom: none;
						content: none;
						display: none;
					}
				}
			}			
			
			&.current_page_item,
			&.current_page_ancestor {
				a {
					color: $navbar-dark-hover-color;	
				}				
			}
			
			// Megamenu with 2 columns
			&.columns-2 {
				.dropdown-menu {
					columns: 2;
					@include media-breakpoint-down(md) {
						columns: 1;
					}
				}
			}
			
			// Megamenu with 3 columns			
			&.columns-3 {
				.dropdown-menu {
					columns: 3;
					@include media-breakpoint-down(md) {
						columns: 1;
					}
				}
			}
			
			// Megamenu with 4 columns			
			&.columns-4 {
				.dropdown-menu {
					columns: 4;
					@include media-breakpoint-down(lg) {
						columns: 2;
					}
					@include media-breakpoint-down(md) {
						columns: 1;
					}
				}
			}
		}		
		
		@if $powehi-search-main-nav {
			
			// Search is in main menu
			> li:nth-last-child(2) {
				.dropdown-menu[data-bs-popper] {
					left: auto;
					right: 0;
				}
			}
			
		} @else {
			
			// Search is in utility menu		
			> li:last-of-type {
				.dropdown-menu[data-bs-popper] {
					left: auto;
					right: 0;
				}
			}
			
		}
				
		// Replace Bootstrap dropdown toggle icon
		.dropdown-toggle:after {
			border: none;
			content: '\f078';
			font-family: 'Font Awesome 6 Pro';
			vertical-align: unset;
		}
	}
	
}


//
// Search
// --------------------------------------------------
body #page {
	transition: transform .3s;
}
body.search-open {
	#wrapper-search {
		align-items: center;
		display: flex;
	}
	#search-overlay {
		display: block;	
	}
} 
#wrapper-search {
	background: $white;
	display: none;
	height: 164px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	.close {
		cursor: pointer;
		margin-top: 6px;
		position: absolute;
		right: 14%;
		top: 60px;
	}
	.btn {
		margin-top: 0;
	}
	.search-form {
		input[type=search] {
			font-size: 1.5rem;
			height: 73px;
			@include media-breakpoint-down(sm) {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				font-size: 1rem;
				height: 50px;				
			}
		}
		input[type=submit] {
			@include media-breakpoint-down(sm) {
				border-top-right-radius: 0;
				border-bottom-left-radius: $border-radius;
			}
		}
		.input-group {
			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
			.form-control {
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
			.input-group-append {
				@include media-breakpoint-down(sm) {
					margin-top: 1rem;
				}
			}
		}
	}
}
#search-overlay {
	background: rgba( 0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	display: none;
	height: 100vh;
	position: fixed;
	top: 164px;	
	width: 100%;
	z-index: 9999;
}


//
// SearchWP Live Search Results
// --------------------------------------------------
.searchwp-live-search-result {
	a {
		text-decoration: none;
	}
}


//
// Vertical Accordion Menu
// --------------------------------------------------
.menu-vertical-accordion-container {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	.menu {
		display: flex;
		flex-direction: column;
		height: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		writing-mode: vertical-lr;
	}
	.nav-item {
		height: 100%;
		position: fixed;
		&.current_page_item {
			a {
				pointer-events: none;
			}
		}
	}
	.nav-link {
		align-items: center;
		color: $white;
		display: flex;
		font-family: $headings-font-family;
		font-weight: $font-weight-bold;
		padding-top: 8rem;
		width: 100%;
		&:after {
			background-repeat: no-repeat;
			background-position: top center;
			background-size: contain;
			content: '';
			height: 1.75rem;		
			position: absolute;
			top: 22rem;
			width: 1.75rem;		
		}
		&:hover {
			background-color: $black !important;
		}
		img {
			margin-bottom: 1rem;
			width: 60%;
		}		
	}
}
body.admin-bar .menu-vertical-accordion-container  {
	top: 32px;
}

body.page-id-1113 .fixed-top {
	background-color: transparent !important;
	z-index: 999999;
}